/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-slide .fl-button-wrap  .fl-button span{
	color: #fff!important;
}
.fl-slide-0 .fl-slide-photo img{
	max-width: 450px;
	margin-top: 70px;
}
.fl-slide-2 .fl-slide-photo img{
		margin-top: 80px;
}
.fl-slide-1 .fl-slide-photo img{
	max-width: 500px;
	margin-top: 100px;
}
.fl-slide-3 .fl-slide-photo img{
		margin-top: 85px;
}

.fl-page-bar {
    font-size: 14px!important;
}
.FloorteProductSlider .featured-products .slick-arrow.slick-prev{
	    z-index: 1;
	opacity: 0.5;
}
@media (max-width: 567px){
	.search-row .product-grid{
	padding: 0px 20px!important;
}

	div.ginput_recaptcha>div{
	width: 304px !important;
}
}
.new-sale{
	max-height: 130px;
}

div.fl-module-uabb-gravity-form  .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]:hover,
input#gform_submit_button_3.button:hover{
	color: #ffffff !important;
    background: #EEC261 !important;
    border-color: #EEC261 !important;
}
input[type='checkbox'] + label:before {
    border-radius: 0px!important;
}
/* pop css*/

/* TOGGLE BOX BOTTOM */
.fr_toggle_box .handle {
	display: flex!important;
    justify-content: space-between!important;
}
.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none!important;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
    top: 100%;
}

.fr_toggle_box.active .box_content {
    top: auto;
    bottom: 0px!important;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box.active .bg {
    display: block!important;
}

.fr_toggle_box .box_content table {
    /* width: 70%; */
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 20px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background: transparent;
    margin: 0;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
    margin: 0;
    max-width: 100%;
    display: inline-block;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white !important;
    color: #cc252a !important;
}

.fr_toggle_box .text {
    /* padding: 40px 0px 0px; */
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}
@media(min-width:1023.5px) {
	.vertualCons h2 {
    color: #000!important;
}
}
@media(max-width:1024px) {
    .fr_toggle_box {
        /* display:none; */
    }
    .top-bar-1 ul li {
        padding: 0 15px 10px 15px;
    }
}


/* .toggle-image-thumbnails {
    position: static;
    bottom: 10px;
    left: 40px;
} */

.toggle-image-thumbnails a {
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin: 0 15px 15px 0;
    background-size: cover;
    background-position: center;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

@media(max-width:768px) {
    .fr_toggle_box .box_content table {
        width: 90%;
		    margin: 0 auto!important;
    }
/* 	.fl-slide-3 .fl-slide-mobile-photo{
		display: none !important;
	} */
	.uabb-image-carousel .uabb-image-carousel-content .uabb-gallery-img{
		max-height: 140px;
	}
	.fl-slide-3 .vertualCons h2,
	.fl-slide-3 .vertualCons .uabb-infobox-text  p > span{
		color: #fff !important;
	}
	.fl-slide-3 .vertualCons h2,
	.fl-slide-3 .vertualCons .uabb-infobox-text p,
	.fl-slide-3 .vertual_design .fl-button-wrap {
		text-align: center !important;
	}
	.fl-slide-3 .fl-slide-foreground:before,
	.fl-slide-3 .fl-slide-foreground .fl-slide-text > p{
		content: " ";
		display: none;
	}
    .fr_toggle_box .box {
        min-height: 1px;
        border-radius: 0;
        margin: 0;
    }
    .fr_toggle_box .text {
        padding: 0;
    }
}

@media(max-width:767px) {
    .fr_toggle_box .box_content .padding {
        height: 160px;
        overflow: auto;
    }
    .fr_toggle_box .box_content .padding table {
        width: 100%;
    }
    .fr_toggle_box .box_content .padding table td {
        display: block;
        text-align: center;
    }
    .fr_toggle_box .box_content .padding table td img {
        max-height: 100px;
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto;
    }

}
/* pop up css end*/
/*------------------TOP BAR STYLES ------------------*/
.finance-btn.button{
	text-transform: uppercase!important;
}
ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}
.gfield_time_ampm select{
	min-width: 60px!important;
	min-height: 50px!important;
}
ul#menu-top-menu .storename li a span::before{
  content: "\f1f8";
  font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 14px;
}
ul#topbar li {
  float: left;
  list-style-type: none;
}
.fl-page-nav-right .fl-page-nav-search a.fa-search{
  padding: 0px 0 0px 15px !important;
}

ul#topbar li a {
  color: #F9F9F8;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
ul#topbar .storename .phone a span:before{
  content: "\f1f8";
  font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
    margin-top: -2px;
    font-size: 16px;
    vertical-align: sub;
}
.f-0 h1{
  font-size: 0px !important;
}
.brand-sec .slick-track  {
  display: flex;
    align-items: center;
    justify-content: center;
}

ul#topbar li a:hover {
  color: #414042;
}


div.gform_wrapper ul.gfield_radio li input[type=radio]{
	  margin-top: 2px!important;
}
div.gform_wrapper ul.gfield_checkbox li input[type=checkbox]{
  margin-top: 1px!important;
}
.fl-page-header-primary .fl-logo-img{
  max-width: 70% !important;
}
.clear-multi .ginput_container_time input{
  padding: 0 !important;
  min-height: 50px !important;
  text-align: center !important;
}
.gform_wrapper .gfield_time_hour, .gform_wrapper .gfield_time_minute {
    max-width: 4.5rem !important;
}
.product-grid .fl-button{
  background-color: #BC1A01 !important;
  border: 1px solid #BC1A01 !important;
}
.product-grid .fl-button span{
  color: #F9F9F8 !important;
}
.product-grid .fl-button:hover{
  background-color: transparent !important;
}
.product-grid .fl-button:hover span{
  color: #BC1A01 !important;
}
.brand-sec .slick-track{
  margin: 0 auto;
} 
.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select{
  width: 60px!important;
  max-width: 60px!important;
}

.gform_wrapper .gfield_time_hour i{
  margin-top: -2px!important;
}


input#gform_submit_button_3, .product-grid .fl-button {
    background-color: #9a0f38 !important;
    border: 1px solid #9a0f38 !important;
}

input#gform_submit_button_3,
.product-grid .fl-button span{
  color: #F9F9F8 !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover{
  background-color: transparent !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover span{
  color: #BC1A01 !important;
}

form select{
  padding: 6px 0px !important;
}


.gform_wrapper ul.gfield_checkbox li input[type=checkbox],.gform_wrapper ul.gfield_radio li input[type=radio]{
  margin-top: 0px!important;
  vertical-align: top!important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label, .uabb-gf-style .gform_wrapper .gfield_radio li label{
  vertical-align: top;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
  width: 100%;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
  padding-right: 15px;
}

/*------------------END TOP BAR STYLES ------------------*/

/*------------------START Form STYLES ------------------*/
.gfield input[type=text]{
	width: 100%!important;
}
/*------------------END Form STYLES ------------------*/
.contact_btn .fl-module-content {
	margin-right: 0px!important;
}	

.dir_btn .direction{
	text-align: center!important;
}
.str_hrs .store-opening-hrs{
	list-style: none!important;
}

.str_hrs .store-opening-hrs li{
	position: relative!important;
}

.str_hrs .store-opening-hrs li span{
	position: absolute!important;
	right: 0;
}


#responsive-menu-container #responsive-menu-additional-content .phone a span:before{
	    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a {
	color: #fff!important;
}
#responsive-menu-container #responsive-menu-search-box, #responsive-menu-container #responsive-menu-additional-content, #responsive-menu-container #responsive-menu-title {
    padding: 10px 5%;
}
.posts .uabb-post-thumbnail a, .posts .uabb-post-thumbnail a img{
	width: 100%!important;
}

.vertual_design  .fl-slide-text a{
  color: #fff!important;
}
.fl-slide-1 .fl-slide-text > p{
	margin: 0px!important;
}
.fl-module-content-slider .slider-next, .fl-module-content-slider .slider-prev {
	background-color: rgba(0, 0, 0, 0.6);
    padding: 6px;
}

@media only screen and (min-width: 641px){
	.gform_wrapper textarea.large {
    height: 160px!important;
    width: 100%;
}
}
@media (max-width:1024px) {
  ul#topbar li a{
    font-size: 11px;
    padding: 5px;
  }

  .fl-page-nav .navbar-nav li>a{
      padding: 15px 8px;
      font-size: 13px;
  }
}

@media (max-width:992px) {
  ul#topbar > li:last-child{
    display: block!important;
  }
  .social-icons-container{
    text-align: center;
  }
  .fl-button span.fl-button-text{
    color: #fff;
  }

/*   .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]{
    width: auto!important;
    color: #fff;
  } */
}
@media(max-width:768px){
	button#responsive-menu-button {
    top: 33px!important;
}
  .brand-sec .slick-slider{
    padding: 0 20px;
  }
  .uabb-image-carousel .slick-prev {
    left: 5px !important;
  }
  .uabb-image-carousel .slick-next {
    right: 5px !important;
  }
  .fl-page-header-logo{
    text-align: left;
  }
  .max-width-issue{
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  .fl-module-menu ul#menu-copyright-bar-menu.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
    padding: 0px !important;
  }
  .fl-callout-photo .fl-photo-content.fl-photo-img-jpg img,
  .fl-photo .fl-photo-content.fl-photo-img-jpg img{ 
    width: 100%;
  }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text, .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text h2 {
        line-height: 1.6em!important;
    font-size: 30px!important;
    color: #fff;
}


    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text, .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text * {
font-size: 18px!important;
    color: #000!important;

}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text, .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text a {color: #fff!important;
}

}
@media(max-width:767px){
	footer .storename {
	margin: 0px!important;
}
  .fl-page-bar .fl-page-bar-row .text-left{
    width: 60%;
    float: left;
  }
  li#field_14_3,
  li#field_14_9,
  li#field_14_10,
  li#field_5_3,
  li#field_5_9,
  li#field_5_10,
  li#field_10_3,
  li#field_6_8,
  li#field_6_1{
    padding-right: 0px !important;
  }
  .uabb-photo-gallery  .uabb-photo-gallery-item  {
    width: 100% !important;
  }
  .rug-pad-images .boxes-on-mobile-full-width{
    width: 100% !important;
  }
  .fl-module-menu ul#menu-copyright-bar-menu.menu{
    flex-direction: column;
  }
  .global-footer-sec .fl-row-content  .fl-col-group .fl-col-small{
    width: 100% !important;
  }
  .cat-boxes .boxes-on-mobile-full-width{
    width: 100% !important;
  }
  footer .fl-builder-content .boxes-on-mobile-full-width {
    width: 100% !important;
  }

  .fl-page-bar .fl-page-bar-row .text-right{
    width: 40%;
    float: right;
  }

  .fl-page-bar .fl-page-bar-row .text-left *{
    text-align: left!important;
  }

  ul#topbar > li:last-child{
    float: right!important;
  }

 .fl-module-heading h1.fl-heading{
    line-height: 48px!important;
  }
  .uabb-module-content.uabb-photo .uabb-photo-content  img,
  .uabb-module-content.uabb-photo .uabb-photo-content{
    width: 100%;
  }
}
@media(max-width:500px){
  button#responsive-menu-button{
    top: 25px !important;
  }
}
@media(max-width:450px){
	
.gfield {
	padding-right: 15px!important;
}
	#gform_3 #field_3_10 {
	padding-right: 0px!important;
}
	.gfield  iframe{
	min-width: 100%!important;
	width: 100%!important;
}
  .fl-page-bar .fl-page-bar-row .text-left{
    width: 66%;
    float: left;
    padding: 0px;
  }

  .fl-page-bar .fl-page-bar-row .text-right{
    width: 34%;
    float: right;
    padding: 0px;
  }
  .fl-col-group .boxes-on-mobile-full-width{
    width: 100%!important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width{
    width: 100%!important;
  }
 
}
.facet_filters strong {
    color: #9a0f38;
}


.button-wrapper-default a, .button-wrapper-default a.button {
  width: 90%;
  background: #F9F9F8;
  color: #414042;
  border: 2px solid #414042;
  padding: 10px 0;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s;
}
.button-wrapper-default a:hover {
  background: #9a0f38;
  color: #F9F9F8;
  border: 2px solid #9a0f38;
  text-decoration: none;
}
@media(max-width:320px){
  .web-form .fl-module-content{
    margin: 20px 7px;
  }
  .message,
  ul#topbar .phone span{
    font-size: 10px !important;
  }
  button#responsive-menu-button{
    top: 15px !important;
  }

}

